---
import ReviewListItem from '../../components/ReviewListItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllReviews } from '../../lib/review';

const reviews = await getAllReviews();
---

<BaseLayout
  title='Reviews - roadmap.sh'
  description={'Detailed reviews on Software Engineering Topics'}
  permalink={`/reviews`}
>
  <SimplePageHeader title='Reviews' description='Reviews.' />

  <div class='pb-20 pt-2 bg-gray-50'>
    <div class='container'>
      <div class='mt-3 sm:my-5'>
        {reviews.map((review) => <ReviewListItem review={review} />)}
      </div>
    </div>
  </div>
</BaseLayout>
