---
import BioLayout from '../../layouts/BioLayout.astro';
import fp2 from '../../../public/smarthomes/fp2-600x600.png'
import sensorp1 from '../../../public/smarthomes/aqara-motion-sensor-p1-2-600x600-1-removebg-preview.png'
---

<BioLayout title='Smarthome'>
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
          <h2 class="sr-only">Cảm biến hiện diện Aqara Human Presence Sensor FP2</h2>
      
          <div class="grid grid-cols-2 gap-x-2 gap-y-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src= {fp2} alt="Đắc nhân tâm" class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <h3 class="mt-4 text-sm text-gray-700">Cảm biến hiện diện Aqara Human Presence Sensor FP2</h3>
             
            </a>
            <a href="#" class="group">
              <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src= {sensorp1} alt="Đắc nhân tâm" class="h-full w-full object-cover object-center group-hover:opacity-75">
              </div>
              <h3 class="mt-4 text-sm text-gray-700">Cảm biến chuyển động Aqara Motion Sensor P1</h3>
                </a>
       
            </div>
        </div>
      </div>

</BioLayout>
