---
import WhiteLogo from '../icons/white-logo.svg';
---

<div class="w-full  bg-slate-900 border border-gray-200 shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex justify-end px-4 pt-4">
     
        
    </div>
    <div class="flex flex-col items-center pb-10">
     <a href="/bio"><img class="w-24 h-24 mb-3 rounded-full shadow-lg" src={WhiteLogo} alt="RMSURV Logo"/></a>
        
        <h5 class="mb-1 text-xl font-medium text-white dark:text-white">RMSURV.COM</h5>
        <span class="text-sm text-white dark:text-gray-400">Roadmaps - Setups - Review</span>
       
    </div>
  </div>