---
import BioHeader from '../components/BioHeader.astro';

import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
  permalink?: string;
}

const { title 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name='author' content='rmsurv' />
  </head>
  <body>
    <BioHeader />
    <slot />
   
  </body>
</html>
